body {
    background-image: url(/assets/images/techy2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.am {
    position: absolute;
    margin-top: 450px;
    /*padding-top: 450px;*/
    margin-left: 42%;
    font-family: Optima, sans-serif;
    color: white;
}

div > h1 {
    color: white;
}